NEXT_PUBLIC_APP_URL=https://devlikeaprowaha-production-bc2d.up.railway.app/
NEXT_PUBLIC_SUPABASE_URL=https://xkxnonxhiuzgrwcgsemv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_FycjKEGOb9nRCFNEkvJa5w_gtWV__-d
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WAHA_USERNAME=admin
WAHA_PASSWORD=wdp_SDBMSFYT0YY11JBQ
WAHA_BASE_URL=http://devlikeaprowaha.railway.internal
OPENAI_API_KEY=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
STRIPE_SECRET_KEY=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
STRIPE_WEBHOOK_SECRET=whsec_Dj86dufWDnmBJxUlhGNz9xD2T2ioQXmF
